In [1]:
myList=[123,"hello", 1.3, True]

In [4]:
type(myList)

list

In [6]:
type(myList[1])

str

In [7]:
myList[1].upper()

'HELLO'

In [8]:
myList=[123,"hello", 1.3, True, [1,"merhaba"]]

In [11]:
type(myList[-1][-1])

str

In [13]:
myList[-1][-1][-1].upper()

'A'

In [18]:
myList[1:][-1][1][-1]

'a'

In [19]:
myList2=list("hello")

In [20]:
myList2

['h', 'e', 'l', 'l', 'o']

In [21]:
myList=list((1,3,5))

In [22]:
myList

[1, 3, 5]

In [23]:
mList5=list({1,5,5,7})

In [24]:
mList5

[1, 5, 7]

In [25]:
myList=[123,"hello", 1.3, True, [1,"merhaba"]]

In [26]:
myList[3]

True

In [27]:
myList6=list({"a":5})

In [28]:
myList6

['a']

In [29]:
numberList=[5,8,9]

In [30]:
"{} {}".format(numberList[0],numberList[1])

'5 8'

In [31]:
y_list =["once ","upon ","a ","time "]

In [32]:
myString="".join(y_list)

In [33]:
myString

'once upon a time '

In [34]:
"a" in y_list

False

In [35]:
"a " in y_list

True

In [38]:
myString="hello"

In [40]:
myString*5

'hellohellohellohellohello'

In [42]:
y_list*5

['once ',
 'upon ',
 'a ',
 'time ',
 'once ',
 'upon ',
 'a ',
 'time ',
 'once ',
 'upon ',
 'a ',
 'time ',
 'once ',
 'upon ',
 'a ',
 'time ',
 'once ',
 'upon ',
 'a ',
 'time ']

In [43]:
y_list+y_list

['once ', 'upon ', 'a ', 'time ', 'once ', 'upon ', 'a ', 'time ']

In [44]:
myList=[1,5,6,8,9]

In [46]:
myList[0]=99

In [47]:
myList

[99, 5, 6, 8, 9]

In [48]:
myList

[99, 5, 6, 8, 9]

In [49]:
myList[-1]=[1,5,8,10]

In [50]:
myList

[99, 5, 6, 8, [1, 5, 8, 10]]

In [51]:
[1, 10, 100] < [1, 11, 100]

True

In [52]:
string=""

In [53]:
type(string)

str

In [ ]:
myString="".join(y_list)

In [54]:
len(myList)

5

In [55]:
range(50,60,2)

range(50, 60, 2)

In [56]:
myList=list(range(50,60,2))

In [57]:
myList

[50, 52, 54, 56, 58]

In [58]:
bool("hello")

True

In [59]:
bool("")

False

any()===or all()====and

In [60]:
nums=[0,1,0,1]

In [61]:
any(nums)

True

In [62]:
all(nums)

False

In [63]:
nums=[0,0,0,0,"hello"]

In [64]:
any(nums)

True

In [65]:
bool("hello")

True

In [68]:
nums=[1,1,1,1,[]]

In [69]:
all(nums)

False

In [67]:
any(nums)

True

YENİ KONU

In [23]:
myList=["apple", "banana", "ddd"]

In [24]:
myList[:1]="grapes"

In [25]:
myList

['g', 'r', 'a', 'p', 'e', 's', 'banana', 'ddd']

In [73]:
myList

['apple', 'grapes']

In [75]:
myList+["banana"]

['apple', 'grapes', 'banana']

append()

In [2]:
myList=["apple", "banana"]

In [3]:
myList.append("hello")

In [78]:
myList.append([1,5,6])

In [79]:
myList

['apple', 'banana', 'hello', [1, 5, 6]]

liste içerisindeki elemanların aritmatik ortalamasını döndüren bir kod yazalım.

In [80]:
myList=list(range(3,23,3))

In [81]:
myList

[3, 6, 9, 12, 15, 18, 21]

max()

min()

sum()

In [83]:
type(sum(myList))

int

In [84]:
ortalama=sum(myList)/len(myList)

In [85]:
ortalama

12.0

In [86]:
max(myList)

21

In [87]:
min(myList)

3

In [88]:
myList=["İzmir", "Ankara"]

In [89]:
ikinciList=["İstanbul"]

In [90]:
myList.append(ikinciList)

In [91]:
myList

['İzmir', 'Ankara', ['İstanbul']]

In [92]:
myList[0]="Antalya"

In [93]:
myList

['Antalya', 'Ankara', ['İstanbul']]

extend()

In [94]:
myList=["a", "b","c"]

In [95]:
myList2=["d","e"]

In [96]:
myList.extend(myList2)

In [97]:
myList

['a', 'b', 'c', 'd', 'e']

In [98]:
myList.extend(range(50,70,5))

In [99]:
myList

['a', 'b', 'c', 'd', 'e', 50, 55, 60, 65]

In [100]:
myList.append([1,3,5])

In [101]:
myList

['a', 'b', 'c', 'd', 'e', 50, 55, 60, 65, [1, 3, 5]]

In [102]:
myList[-1]

[1, 3, 5]

In [105]:
listem=[1,7,7]

In [104]:
myList

['a', 'b', 'c', 'd', 'e', 50, 55, 60, 65, [1, 3, 5]]

In [106]:
myList.append(listem)

In [107]:
myList

['a', 'b', 'c', 'd', 'e', 50, 55, 60, 65, [1, 3, 5], [1, 7, 7]]

İnsert

In [115]:
myList.insert(len(myList),"istanbul")

In [116]:
myList

['hello',
 'a',
 'b',
 'c',
 'd',
 'e',
 50,
 55,
 60,
 65,
 [1, 3, 5],
 'hello',
 'merhaba',
 [1, 7, 7],
 'istanbul']

In [117]:
myList.insert(2, "başkabirşey")

In [118]:
myList

['hello',
 'a',
 'başkabirşey',
 'b',
 'c',
 'd',
 'e',
 50,
 55,
 60,
 65,
 [1, 3, 5],
 'hello',
 'merhaba',
 [1, 7, 7],
 'istanbul']

In [122]:
myCity=["Ankara", "izmir", "istanbul"]

In [123]:
myCity2=["antalya", "uşak"]

In [126]:
myCity.insert(3,myCity2)

In [127]:
myCity

['Ankara', 'izmir', 'istanbul', ['antalya', 'uşak']]

In [128]:
myCity.insert(-2,myCity2)

In [129]:
myCity

['Ankara', 'izmir', ['antalya', 'uşak'], 'istanbul', ['antalya', 'uşak']]

remove

In [130]:
myCity.remove(["antalya", "uşak"])

In [131]:
myCity

['Ankara', 'izmir', 'istanbul', ['antalya', 'uşak']]

In [132]:
myCity.remove(["antalya", "uşak"])

In [133]:
myCity

['Ankara', 'izmir', 'istanbul']

In [134]:
myCity.remove(["antalya", "uşak"])

ValueError: list.remove(x): x not in list

pop()

In [135]:
myCity

['Ankara', 'izmir', 'istanbul']

In [136]:
myCity.pop()

'istanbul'

In [137]:
myCity

['Ankara', 'izmir']

In [138]:
cıkarılan=myCity.pop()

In [139]:
cıkarılan

'izmir'

In [140]:
myCity

['Ankara']

In [141]:
myListem=['Ankara', 'izmir', 'istanbul', ['antalya', 'uşak']]

In [142]:
myListem.pop(1)

'izmir'

In [143]:
myListem

['Ankara', 'istanbul', ['antalya', 'uşak']]

clear()

In [144]:
myListem.clear()

In [146]:
type(myListem)

list

del ()

In [147]:
myListem=['Ankara', 'izmir', 'istanbul', ['antalya', 'uşak']]

In [148]:
del myListem

In [149]:
myListem

NameError: name 'myListem' is not defined

In [150]:
myListem=['Ankara', 'izmir', 'istanbul', ['antalya', 'uşak']]

In [151]:
del(myListem)

In [152]:
myListem

NameError: name 'myListem' is not defined

In [153]:
myListem=['Ankara', 'izmir', 'istanbul', ['antalya', 'uşak']]

In [154]:
del myListem[2:]

In [155]:
myListem

['Ankara', 'izmir']

sort()

In [156]:
harfler = ['a','d','e','c','b']

In [157]:
harfler.sort()

In [158]:
harfler

['a', 'b', 'c', 'd', 'e']

In [159]:
harfler.sort(reverse=True)

In [160]:
harfler

['e', 'd', 'c', 'b', 'a']

In [163]:
cities = ['Mumbai', 'London', 'Paris', 'New York', 1, [1,3,5]]

In [164]:
cities.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [166]:
sayılar=[1,8,9,10]

In [167]:
sayılar.sort()

In [168]:
sayılar

[1, 8, 9, 10]

In [169]:
sayılar=[[1,8,9,10], [2,5,6,6]]

In [170]:
sayılar.sort()

In [171]:
sayılar

[[1, 8, 9, 10], [2, 5, 6, 6]]

In [172]:
sayılar=[[1,8,9,10], [1,5,6,6]]

In [175]:
sayılar.sort(reverse=True)

In [176]:
sayılar

[[1, 8, 9, 10], [1, 5, 6, 6]]

In [177]:
cities = ['Mumbai', 'London', 'Paris', 'New York']

In [178]:
cities.sort()

In [179]:
cities

['London', 'Mumbai', 'New York', 'Paris']

In [180]:
cities.sort(key=len)

In [181]:
cities

['Paris', 'London', 'Mumbai', 'New York']

In [182]:
myNumber=[1,5,9,8,4]

In [184]:
newNumber=reversed(myNumber)

In [187]:
newNumber

In [186]:
list(newNumber)

[4, 8, 9, 5, 1]

In [188]:
newNumber2=list(reversed(myNumber))

In [189]:
newNumber2

[4, 8, 9, 5, 1]

In [190]:
range(10,50,8)

range(10, 50, 8)

In [192]:
myNumbers=list(range(10,50,8))

In [193]:
myNumbers

[10, 18, 26, 34, 42]

In [194]:
myNumbers.reverse()

In [195]:
myNumbers

[42, 34, 26, 18, 10]

In [196]:
mylist=str([1,2,3,4,5,6,7,8,9])

In [197]:
mylist

'[1, 2, 3, 4, 5, 6, 7, 8, 9]'

In [199]:
mylist[2]

','

In [200]:
myNumbers

[42, 34, 26, 18, 10]

In [201]:
myNewNumber=myNumbers.copy()

In [202]:
myNewNumber

[42, 34, 26, 18, 10]

count()

In [203]:
myNewNumber=[42, 34, 26, 18, 10, 10, 11, 10]

In [206]:
myNewNumber.count(99)

0

In [207]:
names=['Deepak','Reema','John','Deepak','Munna','Reema','Deepak','Amit','John','Reema']
name=input("isim nedir")
sayı=names.count(name)

print("girdiğiniz ismin listemizdeki adedi: ", sayı)

isim nedirJohn
girdiğiniz ismin listemizdeki adedi:  2

In [208]:
myNewNumber=[42, 34, 26, 18, 10, 10, 11, 10]

In [209]:
dir(myNewNumber)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [210]:
myNewNumber

[42, 34, 26, 18, 10, 10, 11, 10]

In [211]:
myNewNumber.index(10)

4

In [212]:
myNewNumber.index(34)

1

In [221]:
myNewNumber.index(10)

4

In [222]:
start2=myNewNumber.index(10)

In [223]:
myNewNumber.index(10,start2+1,-1)

5

In [226]:
dir(myNewNumber)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [224]:
myString="hello"

In [225]:
dir(myString)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [227]:
dir("hello")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [228]:
myNewNumber

[42, 34, 26, 18, 10, 10, 11, 10]

In [232]:
myNewNumber.index(18, 4, -1)

ValueError: 18 is not in list

In [233]:
myNewNumber.index(10)+1

5

In [234]:
myNewNumber.index(10, myNewNumber.index(10)+1,-1)

5

In [235]:
myTuple=1,

In [236]:
type(myTuple)

tuple

In [ ]:
myTuple.index()

In [15]:
listem=[1,5,99,[2,6,"Helle"]]

In [17]:
listem[-1][-1]="hello"

In [18]:
listem

[1, 5, 99, [2, 6, 'hello']]