In [2]:
myList=["string", 1, 5, True, [1,5]]

In [4]:
myList[0]="hello"

In [5]:
myList

['hello', 1, 5, True, [1, 5]]

In [6]:
myList

['hello', 1, 5, True, [1, 5]]

In [7]:
myList+["hello"]

['hello', 1, 5, True, [1, 5], 'hello']

In [8]:
myList.append("merhaba")

In [9]:
myList

['hello', 1, 5, True, [1, 5], 'merhaba']

In [10]:
myList.append([5,6])

In [11]:
myList

['hello', 1, 5, True, [1, 5], 'merhaba', [5, 6]]

In [12]:
myList[-1]

[5, 6]

In [13]:
mynumber=[1,5,8,5]

In [15]:
max(mynumber)

8

In [16]:
min(mynumber)

1

In [17]:
sum(mynumber)

19

In [18]:
mynumber=[1,5,8,5]

In [19]:
mynumber2=[99,25]

In [20]:
mynumber3=mynumber+mynumber2

[1, 5, 8, 5, 99, 25]

In [21]:
mynumber.extend(mynumber2)

In [22]:
mynumber

[1, 5, 8, 5, 99, 25]

In [23]:
mynumber=[1,5,8,5]

In [25]:
mynumber.insert(-1,"99")

In [26]:
mynumber

[1, 5, 8, '99', 5]

In [27]:
mynumber.insert(3,"888")

In [28]:
mynumber

[1, 5, 8, '888', '99', 5]

In [30]:
mynumber.remove("99")

In [31]:
mynumber

[1, 5, 8, '888', 5]

In [35]:
mynumber

[1, 8, '888']

In [36]:
mynumber.pop(1)

8

In [37]:
myList=[1, 5, 8, '888', 5]

In [38]:
myList.clear()

In [39]:
myList

[]

In [42]:
del(myList)

NameError: name 'myList' is not defined

In [41]:
myList

NameError: name 'myList' is not defined

sorting

In [43]:
harfler = ['a','d','e','c','b']

In [44]:
harfler.sort()

In [45]:
harfler

['a', 'b', 'c', 'd', 'e']

In [53]:
harfler = ['a','d','e','c','b']

In [47]:
harfler.sort(reverse=True)

In [48]:
harfler

['e', 'd', 'c', 'b', 'a']

In [50]:
cities = ['Mumbai', 'London', 'Paris', 'New York']

In [51]:
cities.sort()

In [52]:
cities

['London', 'Mumbai', 'New York', 'Paris']

In [54]:
cities.sort(key=len)

In [55]:
cities

['Paris', 'London', 'Mumbai', 'New York']

In [56]:
harfler = ['a','d','e','c','b', "b"]

In [57]:
harfler.count("b")

2

In [59]:
harfler.index("b")

4

TUPLES

In [61]:
myTuple=(1,5,6, "string", True)

In [62]:
myTuple=5,8,"hello"

In [63]:
myTuple

(5, 8, 'hello')

In [66]:
myTp=("string",)

In [67]:
type(myTp)

tuple

In [68]:
isimler=("ahmet", "mehmet","ayşe","fatma")

In [69]:
a,b,c,d=isimler

In [72]:
c

'ayşe'

In [75]:
myTP="string",

In [76]:
type(myTP)

tuple

In [77]:
isimler=("ahmet", "mehmet","ayşe","fatma")

In [79]:
isimler[0]="ali"

TypeError: 'tuple' object does not support item assignment

In [80]:
yeniListe=list(isimler)

In [82]:
yeniListe[0]="ali"

In [83]:
yeniListe

['ali', 'mehmet', 'ayşe', 'fatma']

In [84]:
newtuple=tuple(yeniListe)

In [85]:
newtuple

('ali', 'mehmet', 'ayşe', 'fatma')

In [86]:
tuple1 = (123,'hello')
tuple2 = ('world')

In [88]:
type(tuple2)

str

In [89]:
tuple1+tuple(tuple2)

(123, 'hello', 'w', 'o', 'r', 'l', 'd')

In [90]:
tuple1 = (123,'hello')
tuple2 = ('world',)

In [91]:
tuple1+tuple2

(123, 'hello', 'world')

In [92]:
tuple("hello")

('h', 'e', 'l', 'l', 'o')

In [93]:
tuple({"a":1, "b":2})

('a', 'b')

In [95]:
myTuple=tuple(yeniListe)

In [96]:
"ali" in myTuple

True

In [97]:
myTuple

('ali', 'mehmet', 'ayşe', 'fatma')

In [98]:
del myTuple

In [99]:
myTuple

NameError: name 'myTuple' is not defined

In [100]:
myTP=('ali', 'mehmet', 'ayşe', 'fatma')

In [101]:
myTP.count("ali")

1

In [102]:
myTP.index("ali")

0

In [103]:
len(myTP)

4

SET

In [104]:
a=[]

In [105]:
type(a)

list

In [106]:
a={}

In [107]:
type(a)

dict

In [108]:
bosset=set()

In [109]:
type(bosset)

set

In [110]:
mySet=set("hello")

In [111]:
mySet

{'e', 'h', 'l', 'o'}

In [112]:
myset2=set([1,5,6,6])

In [113]:
myset2

{1, 5, 6}

In [114]:
myset2.add(20)

In [115]:
myset2

{1, 5, 6, 20}

In [119]:
lang = {'Python', 'C++', 'Java', 'C'}

In [120]:
lang.add("yenibir dil")

In [121]:
lang

{'C', 'C++', 'Java', 'Python', 'yenibir dil'}

In [122]:
nums={1,5,9,11}
nums2={99,5,88,11}

In [123]:
nums.update(nums2)

In [124]:
nums

{1, 5, 9, 11, 88, 99}

In [125]:
nums={1,5,9,11}
nums2={99,5,88,11}
nums3={100}

In [126]:
nums.update(nums2,nums3)

In [127]:
nums

{1, 5, 9, 11, 88, 99, 100}

In [128]:
nums

{1, 5, 9, 11, 88, 99, 100}

In [129]:
numsSozluk={1:"bir", 5:"beş", 77:"hello"}

In [130]:
nums.update(numsSozluk)

In [131]:
nums

{1, 5, 9, 11, 77, 88, 99, 100}

In [132]:
nums.pop()

1

In [133]:
fruits = {"apple", "banana", "cherry"}

In [134]:
fruits.pop()

'cherry'

In [135]:
fruits

{'apple', 'banana'}

In [137]:
fruits.remove("apple")

In [138]:
fruits

{'banana'}

In [140]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}

| &

In [141]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [142]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [143]:
s1&s2

{4, 5}

In [144]:
s1.intersection(s2)

{4, 5}

In [145]:
s1

{1, 2, 3, 4, 5}

In [146]:
s2

{4, 5, 6, 7, 8}

In [147]:
s1.intersection_update(s2)

In [148]:
s1

{4, 5}

In [149]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}

In [150]:
s1-s2

{1, 2, 3}

In [151]:
s1.difference(s2)

{1, 2, 3}

In [152]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}

In [ ]:
s2'nin s1'den farkını alıp s2 olarak döndüren kodu yazalım.

In [153]:
s2.difference_update(s1)

In [154]:
s2

{6, 7, 8}

In [155]:
nums1 = {1,2,3,4,5}
nums2 = {4,5,6,7,8}

In [156]:
nums1.symmetric_difference(nums2)

{1, 2, 3, 6, 7, 8}

In [ ]:
nums1 = {1,2,3,4,5}
nums2 = {4,5,6,7,8}

In [157]:
nums1.symmetric_difference_update(nums2)

In [158]:
nums1

{1, 2, 3, 6, 7, 8}

In [159]:
nums1

{1, 2, 3, 6, 7, 8}

In [160]:
nums1[0]

TypeError: 'set' object is not subscriptable

In [162]:
kume={5,7,"string"}

In [163]:
kume.discard(9)

In [164]:
kume

{5, 7, 'string'}

In [165]:
kume.remove(9)

KeyError: 9

frozenSet

In [166]:
kume={5,7,"string"}

In [167]:
kume.remove(7)

In [168]:
kume

{5, 'string'}

In [169]:
kume={5,7,"string"}

In [170]:
kısıtlıkume=frozenset(kume)

In [173]:
dir(kısıtlıkume)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [172]:
kısıtlıkume.remove(5)

AttributeError: 'frozenset' object has no attribute 'remove'

SZÖLÜK YAPILARI

In [174]:
myDicti={[1,5,]:"value"}

TypeError: unhashable type: 'list'

In [175]:
myDicti={"key":[1,2]}

In [176]:
myDicti

{'key': [1, 2]}

In [177]:
a={}

In [178]:
type(a)

dict

In [179]:
dir(a)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [180]:
a

{}

In [183]:
a["Ali"]=20

In [184]:
a

{'Ali': 20}

In [185]:
a["mehmat"]=5
a["veli"]=25

In [186]:
a

{'Ali': 20, 'mehmat': 5, 'veli': 25}

In [187]:
a["Ali"]=25

In [188]:
a

{'Ali': 25, 'mehmat': 5, 'veli': 25}

In [189]:
mySozluk=dict(a=1,b=4,c=10)

In [190]:
mySozluk

{'a': 1, 'b': 4, 'c': 10}

In [191]:
mySozluk=dict([("a",5),("w",10)])

In [192]:
mySozluk

{'a': 5, 'w': 10}

In [193]:
myVar=dict([('a', 1)], b=2, c=3)

In [194]:
myVar

{'a': 1, 'b': 2, 'c': 3}

In [196]:
myVar["c"]

3

In [197]:
myVar.keys()

dict_keys(['a', 'b', 'c'])

In [198]:
myVar.values()

dict_values([1, 2, 3])

In [199]:
myVar

{'a': 1, 'b': 2, 'c': 3}

In [202]:
myVar.get("w","bulunamadı")

'bulunamadı'

In [203]:
mySoz={"a":[1,5,8],"b":8}

In [205]:
mySoz["a"].append(10)

In [206]:
mySoz

{'a': [1, 5, 8, 10], 'b': 8}

In [210]:
nested={1:{"a":99,"b":99},2:{"a":2,"b":3}}

In [208]:
nested[1]

{'a': 2, 'b': 3}

In [211]:
nested.pop(1)

{'a': 99, 'b': 99}

In [212]:
nested.pop(10, "bulunamadı")

'bulunamadı'

In [214]:
nested.popitem()

(2, {'a': 2, 'b': 3})

In [215]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [216]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [224]:
car["color"]="blue"

In [225]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'blue', 'boy': 5}

In [220]:
car.setdefault("model","reno")

'Mustang'

In [221]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'blue'}

In [222]:
car.setdefault("boy",5)

5

In [223]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'blue', 'boy': 5}